		<section class="content-header">
			<h1>Users <small>Edit</small></h1>
			<ol class="breadcrumb">
				<li>
					<a href="#"><i class="fa fa-dashboard"></i> Home</a>
				</li>
				<li>
					<a href="#">Users Profile</a>
				</li>
				<li class="active">Edit User Profile</li>
			</ol>
		</section><!-- Main content -->
		<section class="content">
			<!-- Default box -->
			<div class="row">
			<%= render 'shared/flash' %>
			<div class="col-md-6">
				<div class="box box-danger box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Edit User</h3>
					</div><!--content-->
					<div class="box-body">
						<%= render 'form' %>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
			</div>
		</section>