<% flash.each do |name, msg| %>
<div class="alert alert-success alert-dismissible" id="success-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> Success</h4>
    <ul><li><%= msg %></li></ul>
 </div>
<% end %>